﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/fonts/hotel.jpg" width="100%" alt="Otelimiz">
            </div>

            <div class="item">
                <img src="~/fonts/hotel1.jpg" width="100%" alt="Resepsiyon">
            </div>

            <div class="item">
                <img src="~/fonts/hotel2.jpg" width="100%" alt="Kapalı Havuz">
            </div>

            <div class="item">
                <img src="~/fonts/hotel4.jpg" width="100%" alt="Odalarımız">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
        
</div>

<div class="row">
    <div class="jumbotron col-md-4">
        <h1>Etkinlikler</h1>
        <p>
            <h4>
                Haftaya Cumartesi yani 20.06.2017 tarihinde otelimizin eğlence merkezinde
                konser verilecektir. Konseri Murat Boz ve Hadise verecektir. Konser yemek
                ve içecekli olup tüm müşterilerimiz davetlidir. Not: Konser ücretsizdir.
                Sizden ücret talep eden olursa ilgili birime bildirmeniz rica olunur. 
            </h4>
        </p>
    </div>
    <div class="jumbotron col-md-4 text-center">
        <h2>Otelimize Hoşgeldiniz</h2>
        <h4>Dil Seçin</h4>
        <li><a href="#" class="language" rel="en-US"><img src="~/fonts/bayrak.png" alt="English" /></a></li>
        <li><a href="#" class="language" rel="tr-TR"><img src="~/fonts/bayrak2.png" alt="Turkish" /></a></li>
    </div>
    <div class="jumbotron col-md-4">
        <h3>Üye Girişi</h3>
        <div class="form-group">
            <label for="exampleInputEmail1">Kullanıcı Adı</label>
            <input type="kullaniciadi" class="form-control" id="exampleInputEmail1" placeholder="Kullanıcı Adı">
            <label for="exampleInputPassword1">Şifre</label>
            <input type="sifre" class="form-control" id="exampleInputPassword1" placeholder="Şifre">
            <a href="mailto:#"><h5>Şifremi unuttum</h5></a>
            <button type="button" class="btn btn-success btn-block">Giriş</button>
        </div>
        
    </div>
</div>